POSTGRES_USER=cron_user
POSTGRES_PASSWORD=change_this_db_password
POSTGRES_DB=cron_db

NEXTAUTH_SECRET=replace-with-long-random-secret
NEXTAUTH_URL=https://cron.shivam-goyal.site

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
